<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detials</title>
</head>
<body>
    <div>
        <img src="<%= data.image %>">
        <h2><%= data.title %></h2>
        <ul>
            <%data.authors.forEach(value =>{%>
            <li><%= value %></li>
            <%});%>
        </ul>
        <p><%= data.description %></p>
        <p><%=data.isbn %></p>
        <p><%= data.bookshelf %></p>

        <button id="update">update</button>
        <form action="/delete/<%=data.id%>?_method=delete" method="post">
            <button type="submit">Delete</button>
        </form>
    </div>
    <form action="/update/<%data.id%>?_method=put" method="POST">
        <input type="text" name="image" value="<%= data.image %>">
        <input type="text" name="title" value="<%= data.title %>">
        <%data.authors.forEach(value =>{%>
        <input type="text" name="authors" value="<%= value %>">
        <%});%>
        <input type="text" name="description" value="<%= data.description %>">
        <input type="text" name="isbn" value="<%= data.isbn %>">
        <select>
            <% book.forEach(value =>{%>
            <option value="<%= value.bookshelf %>"><%= value.bookshelf %></option>
            <% });%>
        </select>
        <button type="submit">save</button>
    </form>
</body>
</html>
